<!--<%@ __this.name %>
<%
  // JS
  this.__append("hello");
%>
jhshjsh <%@ __this.id %>-->


<html>
<head>

<link rel="stylesheet" href="style.css">
  <title></title>
</head>
<body>
<div class="messages">
  <% __this.DeferRender('chat',{}) %>
</div>
<div class="contacts_cont">
  <% __this.DeferRender('contacts', {}) %>
</div>
<div class="containermsg">
  <% __this.DeferRender('input',{}) %>
</div>


</body>
</html>