<html>
<head>

<link rel="stylesheet" href="style.css">
  <title></title>
</head>
<body>



<div class="main_field">
  <div class="input_area">
    <% __this.DeferRender('inputarea',{}) %>
  </div>
  <div class="ui container chat_area">
    <% __this.DeferRender('chat',{}) %>
  </div>
</div>

</body>
</html>

