<!--<%@ __this.name %>
<%
  // JS
  this.__append("hello");
%>
jhshjsh <%@ __this.id %>-->


<html>
<head>

<link rel="stylesheet" href="style.css">
  <title></title>
</head>
<body>
<div class="main_field">
<div class="ui container chat_area">
  <% __this.DeferRender('chat',{}) %>
</div>
<div class=" ui container contacts_area">
  <% __this.DeferRender('contacts', {}) %>
</div>
<div class="input_area">
  <% __this.DeferRender('input',{}) %>
</div>
</div>

</body>
</html>

