  
    <div class="contact_wrapper">
    <div class="contact">
    <p class="contact_name"> Кирилл Березин </p>
    <img class="contact_photo" src="http://cs629320.vk.me/v629320398/149d0/Ry68lVjHs98.jpg">
    </div>
    </div>
    <div class="contact_wrapper">
    <div class="contact">
    <p class="contact_name"> Евгения Берсенёва </p>
    <img class="contact_photo" src="http://cs629108.vk.me/v629108379/6941/7pFhPdeXJGA.jpg">
    </div>
    </div>
