
  <form class "msg_form">
    <input id="message_input" name="Message" type="textarea" value="" size="">
    <input id="send" name="login"type= "submit" value="Отправить">
  </form>

<%
debugger;
__this.Defer(function()
{
  this.first().find('input').val('Привет');
})
%>
