<div class="containerformessages">
  <h4 class="ui contact_name "><%@ __this.name %></h4>
  <img class="ui avatar image" src="<%@ __this.url %>">
  <div class="messagearea">
    <p class="messagetext"><%@ __this.text %></p>
  </div>
</div> 