<div class="ui form">
  <input class="ui textarea"></input>
  <button class="fluid ui button" type="submit">Отправить цитату</button>
</div>

<%
__this.Defer(function()
{

  __this.first().find('button').click(function()
  {
    var text = __this.first().find('input').val();

    phoxy.ApiRequest(['main/submit', text], function()
    {
      // OK
    })
  })
})
%>