
<div class="ui form">
  <textarea class="ui textarea" placeholder="Текст цитаты"></textarea>
  <div class="ui left icon input">
  <i class="tags icon"></i>
  <input type="text" placeholder="Теги, через запятую">
  </div>
  <button class="fluid ui button">Отправить цитату</button>
</div>

<%
__this.Defer(function()
{
  __this.first().find('button').click(function()
  {
    var text = __this.first().find('textarea').val();
    var reg = "\s*,*\s*"
    var tags = __this.first().find('input').val().split(reg);

    phoxy.AJAX(['main/submit', text, tags], function(r)
    {
      if (!r.error)
      	__this.first().find('textarea').val('');

      $(".main.quotes").trigger("update",[r.data.submit]);
    })
  })
})
%>