<div class="ui floating message quote">
    <% __this.CascadeDesign('quotes/ratio', __this) %>
    <div class="header publisher"><%@ __this.publisher %></div>
    <div class="date"><%@ __this.date %></div> 
    <% __this.CascadeDesign('quotes/tags',__this) %>
  <div class="ui center aligned segment text">
    <%@ __this.quote %>
  </div>
</div>
