<div class="ui violet message quote">
  <div class="publish date">
    <%@ __this.date %>
  </div>
  <div class="publisher">
    <%@ __this.publisher %>
  </div>
  <div class="text">
    <%@ __this.quote %>
  </div>
  <div class="ui buttons quote ratio">
    <button class="ui mini positive button">+</button>
      <div class="or value" data-text="<%@ __this.ratio %>"></div>
    <button class="ui mini negative button">-</button>
  </div>
</div>



<%
__this.Defer(function()
{
  __this.first().find('.ratio .button').click(function()
  {
    var delta = $(this).hasClass('positive') ? 1 : -1;
    var id = __this.id


    phoxy.ApiRequest(['ratio/vote', id, delta], function(r)
    {
      __this.first().find('.ratio .value').attr('data-text', r.data.vote);
    })
  })
})
%>