<div class="ui mini teal tag labels">
<% var index = 0;
while (index < __this.tags.length){ %>
    <a class="ui label"><%@ __this.tags[index].tag %></a>
    <% index++} %>
    
</div> 




<% 
__this.Defer(function()
{
  __this.first().click(function()
  {
    var theme = $(this).val();

    phoxy.ApiRequest(['tags/search', theme], function(r)
    {
      
    })
  })
})
%>

